* {
    border: 1px solid palevioletred;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header-and-main,
.footer {
    background-color: #1F2937;
}

.header,
.hero-content {
    display: flex;
    padding-left: 260px;
    padding-right: 260px;

    flex: 1;
    justify-content: space-between;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-logo {
    font-weight: 950;
    font-size: 24px;
    color: #F9FAF8;

}

.header-links {
   list-style-type: none;
   font-size: 18px;

   display: flex;
   gap: 16px;
}

.header-links li a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero-content {
    min-height: 460px;
    padding-top: 100px;
    padding-bottom: 100px;

    gap: 64px;
}

.hero-text,
.hero-image {
    height: 240px;
    width: 522px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-text .main {
    font-weight: 1000;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-text .secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button.sign-up {
    background-color: #3882F6;
    border-radius: 8px;
    height: 40px;
    width: 130px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.hero-image {
    background-color: gray;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 500px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h1 {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}

.information .image-container {
    display: flex;
}

.information-image {
    width: 170px;

    flex: 1;
} 

.image-rounded {
    height: 170px;
    width: 170px;
    border: 2px solid #3B82F6;
    border-radius: 16px;
}